@model YouMap.Models.VkPanelModel

<script>
    $(document).ready(function() {
        YouMap.Vk.Panel.Initialize('@Model.IsVkUser' == 'True');
    });
</script>

@if(Model.IsVkUser)
{
    
    <div id="vkPanel" class="slide-popup">
        <div class="actions"><a class="awesome small colorbox" href="@Url.Action("CheckIn","Map")">Отметиться</a><a class="awesome small" id="showSettings" href="#">&nu;</a></div>
        <div class="hidden container">
            <div>
                <input type="checkbox" name="ShareLocation" id="ShareLocation" checked="checked"/>
                @Html.LabelFor(x => x.ShareLocation,"Показывать меня друзьям")
                
            </div>
            <div>
                <input type="checkbox" name="ShowFriends" id="ShowFriends" checked="checked"/>
                @Html.LabelFor(x => x.ShowFriends, "Показывать друзей")         
            </div>
        </div>
    </div>
}