@model YouMap.Models.ControlPanelModel
    


@if(Model.Visible)
{
    <script>
    $(document).ready(function() {
        YouMap.Vk.Panel.ControlPanel();
    });
</script>
    
    <div id="topControl" class="slide-popup">
        <div class="actions"><a class="awesome small"  id="showControls" href="#">Панель управления</a></div>
        <div class="hidden container">
            @if(Model.IsAdvertiserPanelVisible)
            {
                <div>
                    @Html.ActionLink("Добавить место", "AddPlace", "Places",null, new {id = "addPlaceLink", @class = "colorbox"})
                </div>
                <div>
                    @Html.ActionLink("Мои места", "Index", "Places")
                </div>
            }
            @if(Model.IsAdminPanelVisible)
            {
                <div>
                    @Html.ActionLink("Категории", "Index", "Categories")     
                </div>
            }   
        </div>
    </div>
}