@using System.Globalization
@model MapModel

<script>
    $(document).ready(function () {
        var config = @( Html.Raw(Model.ToJson()));
	YouMap.Map.Initialize(config);
});
</script>
<div id="mapHolder">
    <div id="map"></div>
</div>