@using Jmelosegui.Mvc.Controls
@using YouMap.Controllers
@model MapModel

<script>
$(document).ready(function() {
	YouMap.Map.Initialize();
});
</script>
<div id="mapHolder">
@(Html.Telerik().GoogleMap().Name("map")
.Latitude(Model.Latitude).Longitude(Model.Longitude).Zoom(Model.Zoom)
.Markers(x=>
			 {
				 foreach (var item2 in Model.Markers)
				 {
					 PlaceModel marker = item2;
					 x.Add().Title(marker.Title)
					 .Latitude(marker.Latitude)
					 .Longitude(marker.Longitude)
					 .Icon(marker.Icon, Model.Icon.Size, Model.Icon.Point,Model.Icon.Anchor)
                     .Shadow(Model.IconShadow.Path, Model.IconShadow.Size, Model.IconShadow.Point, Model.IconShadow.Anchor)
					 .Clickable(true)
					 .Window(y => y.Add().Content(
					 @<text>
						@Html.Partial("PlaceInfo",marker)
					 </text>
					 ));
				 }
 }))
</div>