/YouMap/YouMap.Domain/obj/*
/YouMap/YouMap.Domain/bin/*
/YouMap/YouMap.EventHandlers/obj/*
/YouMap/YouMap.EventHandlers/bin/*
/youmap/YouMap.Framework/obj/*
/youmap/YouMap.Framework/bin/*
/youmap/YouMap/obj/*
/youmap/YouMap/bin/*
/YouMap/YouMap.6.0.ReSharper.user
/YouMap/Jmelosegui.Mvc.Controls/obj/*
/YouMap/Jmelosegui.Mvc.Controls/bin/*
/YouMap/packages/*
/YouMap/_ReSharper.YouMap/*
/YouMap/_ReSharper.YouMap
/YouMap/YouMap.Vkontakte
/YouMap/Backup
/YouMap/YouMap.Documents/bin
/YouMap/YouMap.Documents/obj
/YouMap/Jmelosegui.Mvc.Controls/bin
/YouMap/Jmelosegui.Mvc.Controls/obj
/YouMap/YouMap.v11.suo