<div>
<div class="actions">
<a class="colorbox" href="@Url.Action("CheckIn","Map")">Отметиться</a>     
</div>

<div>
    <input type="checkbox" name="ShareLocation" id="ShareLocation" checked="checked"/>
<label for="ShareLocation">Показывать меня друзьям</label>
            </div>
<div>
    <input type="checkbox" name="ShowFriends" id="ShowFriends" checked="checked"/>
    <label for="ShowFriends">Показывать друзей</label>      
</div>
</div>