
<div id="controlPanel" class="control-panel">
  <ul>
    <li>
      @Html.ActionLink("Добавить место","AddPlace",null,new{id="addPlaceLink", @class = "ajax-link awesome blue"})
    </li>
    <li>
      @Html.ActionLink("Категории","Index","Categories",null,new{@class = "ajax-link awesome blue"})
    </li>
  </ul>
  <div class="control-content">
    
  </div>
</div>