@using YouMap.Controllers
@model IEnumerable<YouMap.Models.CategoryModel>
<nav>
    <ul id="menu">
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(@item.Name, "Filter", "Map", new { categoryId = item.Id }, new { categoryId = item.Id })
            </li>
                }
    </ul>
</nav>
