@model IEnumerable<CategoryModel>
<script>
    $(document).ready(function() {
        YouMap.Search.Navigation();
    });
</script>

        @foreach (var item in Model)
        {
            <li>
                <a categoryId="@item.Id" class="filter-link"  href="@Url.Action("Index", "Map", new { categoryId = item.Id })">
                    @item.Name
                </a>
            </li>
        }

