
@using YouMap.Controllers
@model System.Collections.Generic.IEnumerable<YouMap.Areas.Mobile.Controllers.FriendModel>

@{
    var filter = (FriendsFilterModel)ViewBag.Filter;
}
@*@Html.Partial("FriendsFilter",filter)*@
<style>
    .friends-list ul
    {
        list-style: none;
    }
</style>
@if(!Model.Any())
{
    <p>Список пользователей пуст</p>
}
<div class="friends-list">
  @Html.Partial("UsersGrid",Model)  
</div>

@*@Html.Partial("Pager",filter.PagingInfo)*@