@model UserInfoModel

<div class="actions">
    <a id="showEvents" href="@Url.Action("Show","Events", new{userId = Model.Id})">Посказать встречи</a>
    <a id="showCheckins" href="@Url.Action("Show","CheckIns", new{userId = Model.Id})">Посказать отметки</a>
</div>