@model MapModel
           
@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.Mobile.cshtml";
    ViewBag.Title = "Карта";
}

<script>
    $(document).ready(function () {
        var config = @( Html.Raw(Model.ToJson()));
	YouMap.Map.Initialize(config);
});
</script>
<div id="mapHolder">
    <div id="map"></div>
</div>