
@{
    ViewBag.Title = "Настройки";
}

<a data-icon="search" data-role="button" id="locateMeBnt" href="#">Опеределить мое месторасположения</a>

<a data-role="button" data-icon="home" id="locateMeByAddress">Переместить меня по адресу</a>
<input id="Address" name="Address"/>

<a data-role="button" href="@Url.Action("Logout")" data-icon="home" id="logout">Выйти</a>