@model IEnumerable<CheckInListItem>

<div class="checkins-list">
    <ul>
        @foreach(var item in Model)
        {
            <li><a  href="@item.Url">@item.UserName</a> <span>@item.Visited
                                                        </span>
            </li>
        }
</ul>
</div>