
<div id="searchContainer">
    @Html.Action("SearchForm","Places")
</div>

<div id="logindisplay">
    @Html.Action("LoginState", "Account")
</div>

<div id="actionsPanel">
    @Html.Action("Panel","Vk")
    @Html.Action("ControlPanel","Map")
</div>