
<div id="vkErrorPopup" style="padding: 20px;">
    <h2>Войдите с помощью "Вконтакте".</h2>
    
    <p><a class="awesome small" id="vkLogin" href="#">Войти</a></p>
</div>
<script>
	YouMap.Auth.Initialize(false);
</script>