@model IEnumerable<EventListItem>

<div class="events-list">
    <ul>
        @foreach(var item in Model)
        {
            <li>
                <a class="colorbox" href="@item.Url">@item.Title</a> <span class="@(item.Started? "started":"")">@item.StartDate</span>
            </li>
        }
    </ul>
</div>