#cboxOverlay{background:#fff;}
#colorbox
{
    background-image: url('images/black-50-opasity-pixel.png');
      -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        overflow: hidden;
        -webkit-box-shadow: 0 0 6px #999;
        -moz-box-shadow: 0 0 6px #999;
        box-shadow: 0 0 6px #999;
}


#cboxClose
{
    margin-top: -20px;
margin-left: 10px;

    cursor: pointer;
}
    #cboxClose a
    {
        color: peachpuff;
    }

#cboxContent h2
{
    text-align: center;
    color: white;
}

.checkin
{
    width: 300px;
    padding: 10px;
}


    #cboxContent p
    {
        text-align: center;
    }

#cboxContent textarea
{
    background: transparent;
    border: none;
    height: 120px;
    width: 100%;
    display: block;
    color: white;
    -webkit-box-shadow: 0 0 6px #FFF;
    -moz-box-shadow: 0 0 6px #FFF;
    box-shadow: 0 0 6px #FFF;
}

#cboxContent fieldset
{
    color: white;
    border: none;
}

#cboxContent .field-validation-error
{
    color: #F88;
}


	.control-panel
{
    float: left;
	    clear: both;
    
}
	.control-panel ul
{
	    float: left;
	    margin: 0;
	    padding: 0;
    list-style-type: none;
    clear: both;
}

	.control-panel ul li
{
    float: left;
    margin: 5px;
}

ol#friends-select {
padding: 0;
margin: 0;
width: auto;
display: block;
height: 400px;
overflow-y: scroll;
}
ol#friends-select li {
display: block;
float: left;
padding: 2px;
cursor: pointer;
}
#friends-select .ui-selecting { background: #FECA40; }
	#friends-select .selected { background: #F39814; color: white; }