/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #CCCCCC;
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    background-image: url('images/bright_squares.png');
}

a:hover {
text-decoration: underline;
}
a
{
    color: #2B587A;
    text-decoration: none;
    cursor: pointer;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    height: 80px;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin-top: -20px;
    color: red;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#map
{
    overflow: visible !important;
}

#main
{
    padding: 5px 5px 5px 5px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #FFF;
    -moz-box-shadow: 0 0 10px #FFF;
    box-shadow: 0 0 10px #FFF;
}
/*pretty header*/
h3 {
 text-shadow:0 0 5px;
}
 
h3::first-letter {
 color:azure;
 text-shadow:0 0 5px, 0 0px 6px 3px blue, 0 -2px 6px 6px cyan, 0 -4px 9px 9px lightblue ;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 5px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 5px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    padding: 0 0 2px;
    position: relative;
    margin: 0 auto;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    -webkit-box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: transparent;
    color: #000;
    border-radius:  0 0 4px 4px;
    -webkit-border-radius:  0 0 4px 4px;
    -moz-border-radius:  0 0 4px 4px;
    text-shadow: 0px 0px 5px #fff;
filter: dropshadow(color=#fff offx=0, offy=0);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */




}

ul#menu li a:hover {
    
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);


}

ul#menu li a:active ,ul#menu li a.selected {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

.place-actions ul
{
    list-style: none;    
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    float: right;
}

   

.hidden
{
    display: none;
}

.slide-popup
{
    padding: 5px;
    float: right;
}

.slide-popup .actions a
{
    margin: 2px 5px;
    text-decoration: none;
    color: white;
    background-color: #598EDD;
}

.slide-popup .actions a:hover
{
    background-color: #4882D9;
}

.slide-popup .actions a.lightgreen:hover
{
    background-color: #54C08F;
}

    .slide-popup .container
    {
        position: absolute;
        width: auto;
        margin-top: 40px;
        z-index: 99;
        background-color: white;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        overflow: hidden;
        -webkit-box-shadow: 0 0 6px #999;
        -moz-box-shadow: 0 0 6px #999;
        box-shadow: 0 0 6px #999;
        padding: 5px 10px;
    }


        .slide-popup .container div
        {
            color: #45688E;
            font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
            font-size: 11px;
            clear: left;
            padding: 4px;
        }
        .slide-popup .container label, .slide-popup .container input
        {
            float: left;
        }

#loginPanel .container, #profilePanel .container
{
    right: 20px;
}

.container .editor-label a
{
    float: right;
    padding-top: 2px;
}

.control-content
{
    float: left;
clear: left;
}

ul.list-vertical
{
    list-style-type: none;
}
.list-vertical li
{
    padding: 5px;
    margin: 2px;
    float: none;
    clear: both;
}
#addCalegory
{
    margin: 20px;
}

/*search container*/

#searchContainer 
{
    margin-left: 50px;
    float: left;
    margin-top: 4px;
}
 
/* Style the search input field. */
#searchField
{
    padding: 0;
    float:left; 
    width:400px; 
    height:27px; 
    line-height:27px;
    text-indent:10px; 
    font-family:arial, sans-serif; 
    font-size:1em; 
    color:#333; 
    background: #fff; 
    border:solid 1px #d9d9d9; 
    border-top:solid 1px #c0c0c0; 
    border-right:none;
    opacity: 0.5;

font-size: 16px;
color: #4D90FE;
font-weight: bold;
}
/* Syle the search button. Settings of line-height, font-size, text-indent used to hide submit value in IE */

#searchSubmit
{
        opacity: 0.1;
    margin-left: 10px;
    cursor: pointer;
    height: 29px;
    background: #4d90fe ;
    border: 1px solid #3079ED;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}
/* Style the search button hover state */
#searchSubmit:hover {
    background: #357AE8; 
    border: 1px solid #2F5BB7;
    opacity: 1 !important;
}
/* Clear floats */
.fclear {clear:both}


ul.ui-autocomplete a 
{
    font-weight: bold;
color: #12eb87;
}


.left
{
    float: left;
}

.place-info
{

    width: 300px;
    height: 200px;
}

    .place-info .place-logo
    {

        float: left;
    }

     .place-info .info
    {

        float: left;
    }

     .place-info .place-logo.thumbnail
{
         width: 120px;
         height: 80px;
         text-align: center;
}
.events-list .users
{
    display: none;
}
.events-list li span
{
    float: right;
}
.events-list, .checkins-list
{
    width: 260px;
    overflow: hidden;
}
    .events-list ul, .checkins-list ul
    {
        margin: 0;
        padding: 0;
        list-style: none;
    }
.accordion-inner
{

    height: 100px;
}
.place-info-window
{
    width: 300px;
}
.place-info-window .place-logo
{
    border-width: 2px;
    border-style: solid;
    width: 120px;
    height: 80px;
    padding: 5px;
    text-align: center;
    float: left;
}

    .place-info-window .info
    {
        width: 160px;
        float: left;
    }
    .place-info-window .info h2
    {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .place-info-window .place-content
{
    clear: both;
    padding-top: 2px;
}
.place-info-window .place-actions a
{
    padding: 2px;
}

#ui-datepicker-div
{
    background-color: whitesmoke;
}

.ui-autocomplete
{
    background-image: url('images/black-50-opasity-pixel.png');
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 6px #999;
    -moz-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 6px #999;
}

#title a:hover
{
    text-decoration: none;
}